@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #04005e;
    color: white;
    font-family: "IBM Plex Sans", serif;
}

.main-box {
    display: flex;
    flex-wrap: wrap;
    min-height: 95vh;
    background-color: grey;
}

.menu-container {
    min-height: 95vh;
    flex: 1 1 50vw;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #440bd4;
}

.menu-container img {
    flex: 0 0 100px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50vw;
}

.image-container img {
    height: 95vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100vw;
}

.menu-container button {
    text-align: center;
    font-size: 3vh;
    flex: 1 1 auto;
    width: 100%;
    border: none;
    background-color: #440bd4;
}

.menu-container button:hover {
    transition: 0.5s;
    background-color: #ff2079;
}

.filler {
    height: 5vh;
    font-size: 3vh;
    width: 100vw;
    text-align: center;
    background-color: black;
}



